body{
    margin: 0;
    display: flexbox;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}
#calculator{
    background-color: hsl(0, 0%, 15%);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}
#keys{
    display: grid;
    gap: 10px;
    padding: 20px;
    grid-template-columns: repeat(4, 1fr);
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    color: white;
    border: none;
    background-color: hsl(0, 5%, 25%);
    cursor: pointer;
    font-size: 3rem;
    font-weight: 700;
}

button:hover{
    background-color: hsl(0, 0%, 45%);
}
button:active{
    background-color: hsl(0, 0%, 55%);
}
.operatorbuttons{
    background-color:hsl(35,100%, 55%);
 }
 .operatorbuttons:hover{
     background-color: hsl(35,100%, 70%) ;
 }
 .operatorbuttons:active{
     background-color: hsl(35,100%, 80%) ;
 }